<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <meta property="twitter:domain" content="{{ site.url | remove: 'https://' }}">
  <meta name="fediverse:creator" content="@tit4nium@piaille.fr">
  <link rel="me" href="https://piaille.fr/@tit4nium">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.feed.path | absolute_url }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | absolute_url }}">
  <link rel="icon" type="image/jpeg" href="{% link assets/images/avatar.jpeg %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;1,400&family=Playfair+Display:ital@0;1&display=swap">
  <link rel="stylesheet" href="{% link assets/css/style.css %}">
</head>
