---
layout: default
pagination:
  enabled: true
---
<section class="tag-page">
  <header class="page-head">
    <h1 class="page-title">#{{ page.autopages.display_name }}</h1>
  </header>

  <ol class="post-list">
    {%- for post in paginator.posts -%}
    <li class="row">
      <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" | upcase }}</time>
      <a href="{{ post.url | relative_url }}" class="title">{{ post.title }}</a>
      {%- if post.tags -%}
      <span class="row-tags">
        {%- for tag in post.tags -%}
        <a href="/blog/tag/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
        {%- endfor -%}
      </span>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ol>
</section>
